<!-- Navbar -->
<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <a routerLink="/" class="navbar-brand">
    <img src="../../assets/car.png" width="30" height="30" class="d-inline-block align-top" alt=""> Vehicle Licensing Blockchain POC
  </a>
  <div>
    <span class="mr-3">Welcome {{ownerName}}! [ID {{ownerID}}]</span>
    <button class="btn btn-outline-warning mr-sm-2" routerLink="/">Sign Out</button>
  </div>
</nav>

<!-- Container for page -->
<div class="container">
  <div class="card my-5">
    <div class="card-body">
      <h5 class="card-title my-2">Your Vehicles</h5>
      <hr>

      <!-- Table Information Is Displayed Here. Data Is Fetched From The Business Network. -->
      <table class="table table-hover">
        <thead class="thead-light">
          <tr>
            <th scope="col">VIN</th>
            <th scope="col">Model
              <i class="fas fa-car ml-1"></i>
            </th>
            <th scope="col">License Plate
              <i class="fas fa-money-check ml-1"></i>
            </th>
            <th scope="col">Colour
              <i class="fas fa-palette ml-1"></i>
            </th>
            <th scope="col">Status
              <i class="fas fa-clipboard-list ml-1"></i>
            </th>
            <th scope="col">Insured Until
              <i class="fas fa-hourglass ml-1"></i>
            </th>
            <th scope="col">View Details <i class="fas fa-file-alt ml-1"></i></th>
            <th scope="col">Edit Vehicle <i class="fas fa-edit ml-1"></i></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of tableData">
              <th scope="row">{{row.VIN}}</th>
              <td>{{row.make}} {{row.model}}</td>
              <td>{{row.plate}}</td>
              <td>{{row.colour}}</td>
              <td ><span *ngIf="row.status!='Active (Suspicious)'">{{row.status}}</span>
              <span *ngIf="row.status=='Active (Suspicious)'">Active</span></td>
              <td>{{row.insurance}}</td>
              <td>
                <button [routerLink]="['/car-owner/car-info']" [queryParams]="{ID:row.VIN}" type="button" class="btn btn-link">View</button>
              </td>
              <td>
                <button [routerLink]="['/car-owner/car-edit']" [queryParams]="{ID:row.VIN}" type="button" class="btn btn-link">Edit</button>
              </td>
          </tr>
        </tbody>
      </table>
          <!--
          <tr>
            <th scope="row">1</th>
            <td>Honda Accord</td>
            <td>BTRD 094</td>
            <td>Black</td>
            <td>Active</td>
            <td>01/01/2019</td>
            <td>
              <button routerLink="/car-owner/car-info" type="button" class="btn btn-link">View</button>
            </td>
            <td>
              <button routerLink="/car-owner/car-edit" type="button" class="btn btn-link">Edit</button>
            </td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Honda Accord</td>
            <td>BNKL 323</td>
            <td>Black</td>
            <td>Active</td>
            <td>06/05/2021</td>
            <td>
              <button routerLink="/car-owner/car-info" type="button" class="btn btn-link">View</button>
            </td>
            <td>
              <button routerLink="/car-owner/car-edit" type="button" class="btn btn-link">Edit</button>
            </td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Honda Odyssey</td>
            <td>BTKD 428</td>
            <td>Gray</td>
            <td>Active</td>
            <td>Insurance Expired</td>
            <td>
              <button routerLink="/car-owner/car-info" type="button" class="btn btn-link">View</button>
            </td>
            <td>
              <button routerLink="/car-owner/car-edit" type="button" class="btn btn-link">Edit</button>
            </td>
          </tr>
        -->

      <div class="row justify-content-end">
        <div class="col-2 mt-4">
          <button routerLink="/car-owner/car-new" class="btn btn-outline-success">Register Vehicle</button>
        </div>
      </div>
    </div>

  </div>
</div>