h5{
    font-size: 2.5rem !important;
    text-align: center !important;
}

#button1{
    width:175px!important;
    height:50px;
    float:right;
    margin-right:10px;
}

#button2{
    width:175px;
    height:50px;
    margin-right:10px;
}
#buttonRow{
    text-align:center;
    margin-top:20px;
}

p {
    margin-left:10px;
    font-size: 1.6rem !important;
    text-align: left;
}

.btn-link {
    padding: 0;
}