<!-- Navbar -->
<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <a routerLink="/manufacturer" class="navbar-brand">
      <img src="../../assets/car.png" width="30" height="30" class="d-inline-block align-top" alt=""> Vehicle Licensing Blockchain POC
    </a>
    <div>
      <span class="mr-3">Welcome {{manuName}}! [ID {{manuID}}]</span>
      <button routerLink="/" class="btn btn-outline-warning mr-sm-2">Sign Out</button>
    </div>
  </nav>

<!-- Container for page -->
<div class="container">
  <div class="card my-5 text-center">
    <div class="card-body">
      
      <h5 class="card-title mb-2 mt-5">Register a New Vehicle</h5>

      <!-- Form -->
      <form class="w-75 mx-auto text-left">
        <div class="form-group">
          <label for="exampleInputVIN1">VIN</label>
          <input type="text" [(ngModel)]="vehicle.VIN" class="form-control form-control-lg" id="exampleInputVIN1" aria-describedby="vinHelp" placeholder="Enter vin number" name="trait">
        </div>
        <div class="form-group">
          <label for="exampleInputMake1">Make</label>
          <input type="text" [(ngModel)]="vehicle.make" class="form-control form-control-lg" id="exampleInputMake1" aria-describedby="makeHelp" placeholder="Enter the vehicle`s Make" name="trait2">
        </div>
        <div class="form-group">
          <label for="exampleInputModel1">Model</label>
          <input type="text" [(ngModel)]="vehicle.model" class="form-control form-control-lg" id="exampleInputModel1" aria-describedby="modelHelp" placeholder="Enter the vehicle`s model" name="trait3">
        </div>
        <div class="form-group">
          <label for="exampleInputLicense1">License</label>
          <input type="text" [(ngModel)]="vehicle.plate" class="form-control form-control-lg" id="exampleInputLicense1" aria-describedby="licenseHelp" placeholder="Enter the vehicle`s license plate" name="trait4">
        </div>

        <div class="form-group">
          <label for="exampleInputColour1">Colour</label>
          <input type="text" [(ngModel)]="vehicle.colour" class="form-control form-control-lg" id="exampleInputColour1" aria-describedby="colorHelp" placeholder="Enter the vehicle`s colour" name="trait5">
        </div>

        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
          <label class="form-check-label" for="defaultCheck1">
            Additional feature 1
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
          <label class="form-check-label" for="defaultCheck1">
            Additional feature 2
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
          <label class="form-check-label" for="defaultCheck1">
            Additional feature 3
          </label>
        </div>
        <button  class="btn btn-primary mt-4" (click)="addCar(vehicle)">Submit</button>
      </form>

      <div class="row justify-content-end">
        <a class="col-lg-1 col-5" href="#" style="width: 67px!important;max-width: 67px!important;">
          <small>Terms</small>
        </a>
        <small class="mx-1"> | </small>
        <a class="col-lg-1 col-5" href="#" style="width: 70px!important;max-width: 70px!important;">
          <small>Privacy</small>
        </a>
      </div>

      <!-- Gross positioning temporary button-->
      <div class="row justify-content-end">
          <div class="col-1 mt-4">
            <button routerLink="/manufacturer" class="btn btn-outline-primary">Back</button>
          </div>

     </div>
  </div>
</div>