<!-- Navbar -->
<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <a routerLink="/" class="navbar-brand">
    <img src="../../assets/car.png" width="30" height="30" class="d-inline-block align-top" alt=""> Vehicle Licensing Blockchain POC
  </a>
  <div>
    <span class="mr-3">Welcome {{officerName}} [ID {{badgeID}}]!</span>
    <button class="btn btn-outline-warning mr-sm-2" routerLink="/">Sign Out</button>
  </div>
</nav>

<!-- Container for page -->
<div class="container">
  <div class="card my-5">
    <div class="card-body">
      <h5 class="card-title my-5">Police Officer Homepage</h5>
      <div class="row justify-content-center mb-4">
        <div class="col-lg-4 col-12 text-center">
          <button routerLink="/police/police-view" class="btn btn-outline-success btn-block" style="height: 80px;">View All Registered Vehicles
            <i class="fas fa-car ml-1"></i>
          </button>
        </div>
        <div class="col-lg-4 col-12 text-center">
          <button routerLink="/police/police-report" class="btn btn-outline-primary btn-block" style="height: 80px;">Report a Vehicle as Stolen or Suspicious
            <i class="fas fa-key ml-1"></i>
          </button>
        </div>
        <div class="col-lg-4 col-12 text-center">
          <button routerLink="/police/police-impound" class="btn btn-outline-secondary btn-block" style="height: 80px;">Report Impounded Car
            <i class="fas fa-truck-loading ml-1"></i>
          </button>
        </div>
      </div>

    </div>

  </div>
</div>