<!-- Navbar -->
<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <a routerLink="/" class="navbar-brand">
      <img src="../../assets/car.png" width="30" height="30" class="d-inline-block align-top" alt=""> Vehicle Licensing Blockchain POC
    </a>
    <div>
      <span class="mr-3">Welcome {{officerName}} [ID {{badgeID}}]!</span>
      <button class="btn btn-outline-warning mr-sm-2" routerLink="/">Sign Out</button>
    </div>
  </nav>

<!-- Container for page -->
<div class="container">
  <div class="card my-5 text-center">
    <div class="card-body">
      <h5 class="card-title mb-2 mt-5">Report Impounded Vehicle</h5>
      <!-- Form -->
      <form class="w-75 mx-auto text-left">
          <div class="form-group">
            <label for="exampleInputVIN1" >VIN</label>
            <input type="text" class="form-control form-control-lg" id="exampleInputVIN1" aria-describedby="vinHelp" placeholder="Enter vin number" [(ngModel)]="vinToBeImpounded" name="vtbi">
          </div>
          <div class="form-group">
            <label for="exampleInputMake1">Make</label>
            <input type="text" class="form-control form-control-lg" id="exampleInputMake1" aria-describedby="makeHelp" placeholder="Enter the vehicle's make">
          </div>
          <div class="form-group">
            <label for="exampleInputModel1">Model</label>
            <input type="text" class="form-control form-control-lg" id="exampleInputModel1" aria-describedby="modelHelp" placeholder="Enter the vehicle's model">
          </div>
          <div class="form-group">
            <label for="exampleInputLicense1">License</label>
            <input type="text" class="form-control form-control-lg" id="exampleInputLicense1" aria-describedby="licenseHelp" placeholder="Enter the vehicle's license plate">
          </div>
  
          <div class="form-group">
            <label for="exampleInputColour1">Colour</label>
            <input type="text" class="form-control form-control-lg" id="exampleInputColour1" aria-describedby="colorHelp" placeholder="Enter the vehicle's colour">
          </div>
          <div class="form-group">
              <label for="exampleInputReason1">Reason for Impounding</label>
              <textarea type="text" class="form-control form-control-lg" id="exampleInputReason1" aria-describedby="reasonHelp" placeholder="Enter the reason for impounding"></textarea>
            </div>
  
          <div class="form-group">
            <label for="exampleInputNotes1">Additional Notes</label>
            <textarea type="text" class="form-control form-control-lg" id="exampleInputNotes1" aria-describedby="notesHelp" placeholder="Enter additional notes"></textarea>
          </div>
          <button (click)="impoundCar(vinToBeImpounded)" class="btn btn-primary">Submit</button>
        </form>

      <div class="row justify-content-end">
        <a class="col-lg-1 col-5" href="#" style="width: 67px!important;max-width: 67px!important;">
          <small>Terms</small>
        </a>
        <small class="mx-1"> | </small>
        <a class="col-lg-1 col-5" href="#" style="width: 70px!important;max-width: 70px!important;">
          <small>Privacy</small>
        </a>
      </div>

    </div>
  </div>
</div>