<!-- Navbar -->
<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <a routerLink="/manufacturer" class="navbar-brand">
    <img src="../../assets/car.png" width="30" height="30" class="d-inline-block align-top" alt=""> Vehicle Licensing Blockchain POC
  </a>
  <div>
    <span class="mr-3">Welcome {{manuName}}! [ID {{manuID}}]</span>
    <button routerLink="/" class="btn btn-outline-warning mr-sm-2">Sign Out</button>
  </div>
</nav>

<!-- Container for page -->
<div class="container">
  <div class="card my-5">
    <div class="card-body">
      <h5 class="card-title my-5">Manufacturer Homepage</h5>
      <div class="row justify-content-center mb-5">
        <div class="col-lg-3 col-12 text-center">
          <button routerLink="/manufacturer/new-car" class="btn btn-outline-success btn-block" style="height: 80px;">Register New Vehicle
            <i class="fas fa-plus-square ml-1"></i>
          </button>
        </div>
        <div class="col-lg-3 col-12 text-center">
          <button routerLink="/manufacturer/order-request" class="btn btn-outline-primary btn-block" style="height: 80px;">Order Requests
            <i class="fas fa-cart-arrow-down ml-1"></i>
          </button>
        </div>
        <div class="col-lg-3 col-12 text-center">
          <button routerLink="/manufacturer/stock" class="btn btn-outline-secondary btn-block" style="height: 80px;">Stock
            <i class="fas fa-box ml-1"></i>
          </button>
        </div>
        <!--<div class="col-lg-3 col-12 text-center">
          <button routerLink="/manufacturer/sell-car" class="btn btn-outline-info btn-block" style="height: 80px;">Sell Vehicle
            <i class="fas fa-user-tag ml-1"></i>
          </button>
        </div>-->
      </div>
    </div>
  </div>
</div>