h5{
    font-size: 2.5rem !important;
    text-align: center !important;
}

#button1{
    width:175px!important;
    height:50px;
    float:right;
}

p {
    margin-left:10px;
    font-size: 1.6rem !important;
    text-align: left;
}

.btn-link {
    padding: 0;
}