<!-- Navbar -->
<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <a routerLink="/manufacturer" class="navbar-brand">
    <img src="../../assets/car.png" width="30" height="30" class="d-inline-block align-top" alt=""> Vehicle Licensing Blockchain POC
  </a>
  <div>
    <span class="mr-3">Welcome {{manuName}}! [ID {{manuID}}]</span>
    <button routerLink="/" class="btn btn-outline-warning mr-sm-2">Sign Out</button>
  </div>
</nav>

<!-- Container for page -->
<div class="container">
  <div class="card my-5">
    <div class="card-body">
      <h5 class="card-title my-2">Order Requests</h5>
      <hr>

      <table class="table table-hover">
        <thead class="thead-light">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Model</th>
            <th scope="col">Client</th>
            <th scope="col">Colour</th>
            <th scope="col">Create Request</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of tableData">
            <th scope="row">1</th>
            <td>{{row.make}} {{row.model}}</td>
            <td>{{row.ownerDisplayName}}</td>
            <td>{{row.colour}}</td>
            <td>
              <button [routerLink]="['/manufacturer/new-car']" [queryParams]="{make:row.make,model:row.model,colour:row.colour,VIN:row.VIN,plate:row.plate,owner:row.owner.toString().substring(39)}" type="button"
                class="btn btn-link">Create</button>
            </td>
          </tr>
          <!--
          <tr>
            <th scope="row">2</th>
            <td>Honda Accord</td>
            <td>Eddie Fox</td>
            <td>Black</td>
            <td>Four Wheel Drive</td>
            <td>
              <button routerLink="/manufacturer/new-car" type="button" class="btn btn-link">Create</button>
            </td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Honda Odyssey</td>
            <td>Jeremy Collins</td>
            <td>Gray</td>
            <td>Add built-in GPS</td>
            <td>
              <button routerLink="/manufacturer/new-car" type="button" class="btn btn-link">Create</button>
            </td>
          </tr>-->
        </tbody>
      </table>

      <p *ngIf="tableData.length==0">
        There Are No Requested Vehicles
      </p>

      <div class="row justify-content-end">
        <div class="col-1 mt-4">
          <button id="button1" routerLink="/manufacturer" class="btn btn-outline-primary">Back</button>
        </div>
      </div>
    </div>

  </div>
</div>