<!-- Navbar -->
<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <a routerLink="/manufacturer" class="navbar-brand">
    <img src="../../assets/car.png" width="30" height="30" class="d-inline-block align-top" alt=""> Vehicle Licensing Blockchain POC
  </a>
  <div>
    <span class="mr-3">Welcome {{manuName}}! [ID {{manuID}}]</span>
    <button routerLink="/" class="btn btn-outline-warning mr-sm-2">Sign Out</button>
  </div>
</nav>

<!-- Container for page -->
<div class="container">
  <div class="card my-5">
    <div class="card-body">
      <h5 class="card-title my-2">Sell Vehicle </h5>
      <h6 class="my-2" style="text-align: center">VIN: {{vehicleVIN}}</h6>
      <hr>

      <div *ngIf="displayMessage!='undefined'" class="alert alert-warning w-75 mx-auto" role="alert" style="text-align:center!important;">
        {{displayMessage}}
      </div>


      <!-- Form -->
      <form class="w-75 mx-auto text-left">
        <h6 class="my-5">To sell a vehicle, insert the ID# of the user to whom you will sell the vehicle, and also insert the desired amount
          in US Dollars.</h6>
        <div class="form-group">
          <label for="exampleInputID">User ID</label>
          <input [(ngModel)]="userID" name="idInput" type="text" class="form-control form-control-lg" id="exampleInputID" aria-describedby="idHelp"
            placeholder="Enter the ID of the Buyer">
        </div>
        <div class="form-group">
          <label for="exampleInputAmount">Price For the Vehicle</label>
          <input [(ngModel)]="vehicleAmount" name="amountInput" type="text" class="form-control form-control-lg" id="exampleInputAmount"
            placeholder="Price">
        </div>
        <div id="buttonRow">
          <button id="button1" (click)="sellVehicle()" class="btn btn-primary">Submit</button>
          <button id="button2" routerLink="/manufacturer/stock" class="btn btn-outline-primary">Back</button>
        </div>
      </form>

      
    </div>

  </div>
</div>